# Node.js / NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Rust / Cargo
target/
**/target/
**/*.rs.bk

# Anchor
/.anchor/
/keys/
/programs/**/target/
/tests/.test-ledger/
/test-ledger/

# Solana wallet keys
keys/*.json
*.key
/frontend/blockchain_password_manager/test-ledger/*.json

# React / frontend
build/
dist/
.cache/
*.log
*.env
*.env.*

# VSCode / JetBrains
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
