@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  @apply h-full bg-dark;
}

@layer base {
  ::selection {
    @apply bg-primary text-dark;
  }
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
